<div class="wrapper">
    <app-header></app-header>
    <div class="middle-section">
        <!--inner page banner start here-->
        <div class="inner-page-banner">
            <img src="assets/new/img/simple-modern.jpg">
            <div class="pageheading-overlay">
                <h2 class="text-center text-white">Contact Us</h2>
               
            </div>
        </div>
        <!--inner page banner end here-->
        <div class="container pt-5">
            <!--Product list start here-->
                <!--left filter bar start-->
                <div class="row mt-15 inner-main-page desktops-class">
                    <div class="col-md-8">
                        <!-- <div class="already-box-checkout mb-3 ">
                            <span>Already have an Account <a href="#" class="login-link"> Login</a></span>
                        </div> -->
                        <form action="" class="shipping-adderss-main mb-3">
                            
                            <div class="row g-3 my-2">
                                
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Your Name"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Your Email"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Phone</label>
                                    <input type="text" maxlength="10" class="form-control" id="phone" placeholder="Your Phone Number"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="subject" placeholder="Subject"
                                        required="required" />
                                </div>
                                <div class="col-md-12">
                                    <label for="inputEmail4" class="form-label">Message</label>
                                    <textarea class="form-control" rows="6" id="message" placeholder="Message"
                                        required="required" ></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary py-2 px-4" (click)="SendEnquiry();" type="button" id="sendMessageButton">Send Message</button>
                                </div>
                                
                                
                            </div>
                        </form>
    
                      
                        
                    </div>
                   
                    <div class="col-lg-4 mb-5">
                        <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
                        <div [innerHTML]="pageData?.description"></div>
                        <div class="d-flex flex-column mb-3">
                            <h5 class="font-weight-semi-bold mb-3">Store 1</h5>
                            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>&nbsp;{{siteData.business_address}}</p>
                            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>&nbsp;{{siteData.admin_email}}</p>
                            <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>&nbsp;{{siteData.mobile}}</p>
                        </div>
                        
                    </div>
                </div>
                <!--left filter bar end-->
            <!--Product list end here-->
        </div>
    </div>
    <!--Footer section start here-->
    <app-footer></app-footer>
    <!--Footer Section end here-->
</div>



