<div class="card border-secondary mb-5">
    <div class="card-header bg-secondary border-0">
        <h4 class="font-weight-semi-bold m-0 summery_heading">Dashboard</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a routerLink="/dashboard" class="font-weight-medium">Dashboard</a>
        </div>
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a routerLink="/my-account" class="font-weight-medium">My Account</a>
        </div>
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a routerLink="/settings" class="font-weight-medium">Settings</a>
        </div>
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a routerLink="/my-orders" class="font-weight-medium">My Orders</a>
        </div>
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a routerLink="/my-wishlist" class="font-weight-medium">My Wishlist</a>
        </div>
        <div class="d-flex justify-content-between mb-3 pt-1">
            <a style="cursor:pointer" (click)="logout()" class="font-weight-medium">Logout</a>
        </div>
    </div>
    
</div>