<app-header></app-header>
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5 littal">
    <div class="d-flex flex-column align-items-center justify-content-center littal_align" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">My Dashboard</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">My Dashboard</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        
        <div class="col-lg-4">
            <app-sidebar></app-sidebar>
            
        </div>
        <div class="col-lg-8 table-responsive mb-5">
           
            
        </div>
    </div>
</div>
<!-- Cart End -->
<app-footer></app-footer>
