<app-header></app-header>
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5 littal">
    <div class="d-flex flex-column align-items-center justify-content-center littal_align" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Customer Login</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Customer Login</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5 contact_f">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Login</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-3 mb-5">
            
        </div>
        <div class="col-lg-6 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <input type="text" class="form-control" id="username" placeholder="Username" />
                    </div>
                    <div class="control-group">
                        <input type="password" class="form-control" id="password" placeholder="Password"/>
                    </div>
                    
                    <div>
                        <button (click)="LoginNow()" class="btn btn-primary py-2 px-4" type="button" id="loginBtn">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 mb-5">
            
        </div>
    </div>
</div>
<!-- Contact End -->
<app-footer></app-footer>
